#chatbox {
	overflow-y: scroll;
    background-color:rgb(33, 31, 31);
    margin-top: 80px;
    margin-bottom: 20px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;

}



#messagebox {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #eee;
	padding: 10px;
}

#message {
	width: 80%;
	height: 30px;
	margin-right: 10px;
	overflow-y: scroll;
	
}

button {
	height: 30px;
    color: white;
    background-color: rgb(38, 200, 38);
    border-radius: 5px;
    border: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
	background-color: rgb(38, 200, 38);
	padding: 10px;
	text-align: center;
    margin: 0px;
}

h1 {
	margin: 0;
    color: #eee;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0px;
    padding: 0px;
}

.received{
	background-color: rgb(38, 200, 38); 
	color: white; 
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: fit-content; 
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
}


.sent {
	background-color: rgb(15, 87, 255); 
	color: white; 
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: fit-content; 
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	}

.badge{
	color:#eee;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
